
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=1a3925deb84c1061f4acc99b3f3ea43a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress